@import (reference) '../../less/global.less';

.card {
  text-align: center;
}

.media {
  padding-bottom: 56.25%;
}

.details {
  padding: .padding[small];
} 

.publishDate {
  font-size: .paragraph.tertiary[font-size];
  color: .color.grey[default];
}