@import (reference) 'global.less';

.button {
  font-size: .paragraph[font-size];
  text-transform: uppercase;
  display: inline-block;
  line-height: .paragraph[line-height];
  padding: 1.1em 1.5em 1em;
  border-radius: 1000px;
  font-weight: .paragraph.bold[font-weight];

  &:hover {
    &:after {
      content: ' →';
    }
  }

  @media .query.phone.rule[default] {
    display: block; 
    text-align: center;
  }
}

.primaryLightButton {
  &:extend(.button all);

  background: white;
  color: white; 
  color: .color[primary];
}

.primaryButton {
  &:extend(.button all);

  background: .color[primary];
  color: white;
}

.secondaryLightButton {
  &:extend(.button all);

  border-color: white;
  color: white;
}