@import (reference) 'global.less';
@import 'yetti/global.less';

////////////////////////////////////////////////////////
// APPEARENCE
////////////////////////////////////////////////////////

@bd: 2px; 

.border() {
  .weight() {
    thin: 2px;
    medium: 4px;
  }
}

////////////////////////////////////////////////////////
// BODY
////////////////////////////////////////////////////////

:root {
  --headerDockedHeight: l;
}

////////////////////////////////////////////////////////
// BUTTONS
////////////////////////////////////////////////////////

.button {
  font-size: .paragraph.secondary[font-size];
  letter-spacing: .05em;
  text-transform: uppercase;
  padding: 1.1em 1.5em;
  font-weight: .paragraph.bold[font-weight];

  &:hover {
    &:after {
      content: ' →';
    }
  }

  @media .query.phone.rule[default] {
    display: block; 
    text-align: center;
  }
}

.primaryLightButton {
  &:extend(.button all);

  color: .color[primary];
}

.primaryButton {
  &:extend(.button all);
  background: .color[primary]; 
  color: white;
}

.secondaryLightButton {
  &:extend(.button all);
  border-color: white;
  color: white;
}

////////////////////////////////////////////////////////
// CARDS
////////////////////////////////////////////////////////

.card() {
  .headline() {
    font-size: .paragraph[font-size];
    font-weight: .paragraph.bold[font-weight];
  }
}

@cardHover: {
  transform: scale(1.01);
}

////////////////////////////////////////////////////////
// COLORS
////////////////////////////////////////////////////////

@lightGrey: #f6f6f6;
@mediumlightGrey: darken(@lightGrey,5%);

.color() {
  primary: #35D49D;
  accent: #465C96;

  green: #35D49D;
  blue: #465C96;

  black: #333;
  lightGrey: #f6f6f6;
  mediumlightGrey: @mediumlightGrey;
  fadedWhite: fade(white,90%);
}

////////////////////////////////////////////////////////
// CONTAINERS
////////////////////////////////////////////////////////

.wrapMain {
  .wrap(
    @span: 10
  );
}

.wrapSmall {
  .wrap(
    @span: 7
  )
}

html {
  --paddingVertical: 10rem;

  @media .query.phone.rule[default] {
    --paddingVertical: 5rem;
  }
}

// // Move to yetti
.wrap(
  @span: 12,
  @padding: horizontal,
  @margin: vertical,
  @align: center
) {
  @mainWidth: 130rem;
  @columnWidth: floor(130rem / 12);

  max-width: 100%;
  width: floor(@span * @columnWidth);

  & when (@padding = default) {
    .padding.default;
  }

  & when (@align = center) {
    margin-left: auto;
    margin-right: auto;
  }

  & when (@align = left) {
    margin-right: auto;
    margin-left: @offset;
  }

  & when (@align = right) {
    margin-left: auto;
  }

  & when (@margin = vertical) {
    margin-top: var(--paddingVertical);
    margin-bottom: var(--paddingVertical);
  }
}

////////////////////////////////////////////////////////
// GRID
////////////////////////////////////////////////////////



// Move to yetti
.padding() {
  horizontal: var(--horizontalPadding);
  vertical:   var(--verticalPadding);

  .default() {
    padding: 0 var(--horizontalPadding);
  }
}

////////////////////////////////////////////////////////
// HEADINGS
////////////////////////////////////////////////////////



////////////////////////////////////////////////////////
// PARAGRAPHS
////////////////////////////////////////////////////////

.paragraph() {
  font-size: 2.4rem;
  font-weight: 300;
  font-family: 'sofia-pro',sans-serif;
  line-height: 1.4em;

  .bold() {
    font-weight: 400;
  }

  .secondary() {
    font-size: 2.2rem;
  }
}

////////////////////////////////////////////////////////
// GRIDS
////////////////////////////////////////////////////////

.grid() {
  @maxWidth: 130rem;
}

.thirdsGrid {
  display: flex;
  grid-gap: .padding[medium];

  @media .query.phone.rule[above] {
    grid-template-columns: repeat(30rem,minmax(35rem,1fr));
  }

  @media .query.phone.rule[default] {
    grid-template-columns: 1fr;
  }

  @supports not (display: grid) {
    @media .query.phone.rule[above] {
      display: flex;
    }

    @media .query.phone.rule[default] {
      display: block;
    }
  }
}

.halvesGrid {
  display: grid;
  grid-gap: .padding[medium];

  @media .query.phone.rule[above] {
    grid-template-columns: repeat(auto-fill,minmax(35rem,1fr));
  }

  @media .query.phone.rule[default] {
    grid-template-columns: 1fr;
  }

  @supports not (display: grid) {
    @media .query.phone.rule[above] {
      display: flex;
    }
  }
}

////////////////////////////////////////////////////////
// HEADLINES
////////////////////////////////////////////////////////

.heading {
  .primary() {
    font-weight: 700;
    line-height: 1.1em;

    @media .query.phone.rule[default] {
      font-size: .heading.secondary[font-size] * 1.1;
    }
  }

  .secondary() {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2em;

    .subHeading() {
      color: .color[primary];
      font-size: .paragraph.secondary[font-size];
      font-weight: .heading[font-size];
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: .75em;
    }
  }

  .tertiary() {
    font-size: 2.8rem;
  }
}

////////////////////////////////////////////////////////
// QUOTES
////////////////////////////////////////////////////////

@pullQuote: {
  font-size: .heading.tertiary;
  font-weight: .paragraph[font-weight];
  line-height: .paragraph[line-height];
  margin-bottom: .padding[medium];
};