@import (reference) 'reference.less';
@import '../../node_modules/yetti/global.less';

////////////////////////////////////////////////////////
// APPEARENCE
////////////////////////////////////////////////////////

@bd: 2px; 

////////////////////////////////////////////////////////
// BUTTONS
////////////////////////////////////////////////////////

.button {
  .fs(@p2); .ls(.05em); .ttf(uppercase); .ib;
  .pad(1.1em 1.5em); .br(1000px); .fw(@bold);

  &:hover {
    &:after {
      .cnt(' →');
    }
  }

  @media @phone {
    .dsp(block); .ta(center);
  }
}

.primaryLightButton {
  &:extend(.button all);
  .bg(white); .c(@prime);
}

.primaryButton {
  &:extend(.button all);
  .bg(@prime); .c(white);
}

.secondaryLightButton {
  &:extend(.button all);
  .bdc(white); .c(white);
}

////////////////////////////////////////////////////////
// COLORS
////////////////////////////////////////////////////////

@lightGrey: #fafafa;

@fadedWhite: fade(white,90%);

@darkerGrey: darken(@darkGrey,5%);

////////////////////////////////////////////////////////
// PARAGRAPHS
////////////////////////////////////////////////////////

@p2: 2.2rem;

p a, .p2 a {
  .txd(underline);
}

////////////////////////////////////////////////////////
// COLORS
////////////////////////////////////////////////////////

@green: #35D49D;
@blue: #465C96;

@prime: @green;
@accent: @blue;

@darkGrey: mix(#444,@green,90%);

////////////////////////////////////////////////////////
// MEDIA
////////////////////////////////////////////////////////

.mediaBackground {
  .pos(absolute ~'!important');
}

////////////////////////////////////////////////////////
// TYPE
////////////////////////////////////////////////////////

@c: @darkGrey;
@ff: 'Sofia Pro',sans-serif;
@fw: 300;
@lh: 1.4em;

@bold: 500;
@heavy: 600;

////////////////////////////////////////////////////////
// GRIDS
////////////////////////////////////////////////////////

.thirdsGrid {
  .dsp(grid); .gg(@m @m);

  @media @minTablet {
    .gtc(repeat(auto-fill,minmax(35rem,1fr)));
  }

  @media @phone {
    .gtc(1fr);
  }

  @supports not (display: grid) {
    @media @minTablet {
      .flex;
    }
  }
}

////////////////////////////////////////////////////////
// HEADLINES
////////////////////////////////////////////////////////

@h1: @h2 * @ratio;

h1 {
  .fs(@h1); .fw(@heavy);
  .lh(1.1em);
}

@h2: 4rem;

h2 {
  .fs(@h2);
  .mb(.75em);
  .mt(1.5em);
}

@h3: 2.8rem;

h3 {
  .fs(@h3);
  .fw(@bold);
}

h4 {
  .fs(@p2); 
  .c(@prime);
  .fw(@bold);
  .upper;
  .ls(.05em);
  .mb(.75em);
}

////////////////////////////////////////////////////////
// PARAGRAPHS
////////////////////////////////////////////////////////

@p2: 2rem;

.p2 {
  .o(.9);
}

////////////////////////////////////////////////////////
// SIZES
////////////////////////////////////////////////////////

@main: 130rem;