@import (reference) 'global.less';

@media .query.desktop[default] {

  .toggle {
    display: none;
  }

}

@media .query.desktop[below] {

  .toggle {
    height: --navHeight;
    width: .padding[smallest];
    display: flex;
    align-items: center;cursor: pointer;
  }
  
  .activeToggle {
    position: fixed;
    right: var(--paddingHorizontal);
    top: 0;
    z-index: 20001;
  
    .bars {
      height: @barHeight;
    }
  
    .topBar {
      transform: rotate(45deg);
    }
  
    .middleBar {
      opacity: 0;
    }
  
    .bottomBar {
      transform: rotate(-45deg);
    }
  }
  
  @barHeight: 3px;
  
  .bars {
    width: .padding[smallest];
    height: @barHeight * 6;
    transition: height .2s ease-in-out;
  }
  
  .topBar {
    top: 0;
  }
  
  .middleBar {
    text-align: 50%;
    transform: translateY(-50%);
  }
  
  .bottomBar {
    bottom: 0;
  }
  
  .topBar, .middleBar, .bottomBar {
    width: 100%;
    height: @barHeight;
    background: var(--color);
    position: absolute;
    left: 0;
    transition: transform .2s ease-in-out,opacity .2s ease-in-out;
  }  

}