@import (reference) 'reference.less';

@navHeight: var(--navHeight);

.nav {
  --navHeight: 9rem;
  .h(var(--navHeight)); .pad(0 var(--h));
  --color: white;
  .flex; .aic; .jcsb;
}

.siteName {
  .c(var(--color)); .fs(3.5rem); .ls(-.05em); .fw(@bold);
}

.toggle {
  --height: calc(var(--navHeight) ~'*' .6); .cur(pointer);
  --color: @prime;

  .wh(var(--height)); .bg(white); .br;
  .flex; .aic; .jc(center);

  &:before {
    .cnt; .wh; .abs; .t(@bd * 2); .bg(fade(black,10%)); .br; .z(-1);
  }

  &:after {
    .cnt; .abs; .t(50%); .l(50%); .wh(0); .pe(none);
    .bg(@prime); .br; .trf(translate(-50%,-50%));
    .trn(all .5s ease-in-out); .z(-1);
  }
}

.activeToggle {
  .bg(none); --color: white;

  &:after {
    .wh(400vh);
  }

  .middleToggleBar {
    .hide;
  }

  .toggleBars {
    .dsp(block); .of(visible);
  }

  .topToggleBar {
    .abs; .t(50%);
    .to(50% 50%); .trf(rotate(-45deg));
  }

  .bottomToggleBar {
    .abs; .t(50%); .trf(rotate(45deg));
    .to(50% 50%);
  }
}

.toggleBars {
  .flex; .aic; .jcsb; .flxd(column);
  .w(40%); .h(25%);
}

.toggleBar {
  .w; .h(@bd); .bg(var(--color));
}

.topToggleBar {
  &:extend(.toggleBar);
}

.middleToggleBar {
  &:extend(.toggleBar);
}

.bottomToggleBar {
  &:extend(.toggleBar);
}