@import (reference) 'global.less';

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  background: .color[lightGrey];
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .padding[small];
}

.container {
  color: white; 
  width: .wrap.article[width];
  max-width: 100%;
}

.media {
  padding-bottom: 50%;
}

.gif {
  width: 100%;
}

.content {
  padding: .padding[medium] var(--paddingHorizontal);
  text-align: center;
}

.headline {
  font-size: .heading.secondary[font-size];
}