@import (reference) 'global.less';

.mainWrap {
  width: .padding[large] * 13;
  max-width: 100%;
  margin: 0 auto;
}

.introContent {
  max-width: 100rem;
}

.introCopy {
  max-width: .padding[large] * 7;
}

////////////////////////////////////////////////////////
// STAGES
////////////////////////////////////////////////////////

.stages {
  width: .padding[large] * 10;
  margin: 0 auto;
}

.stageMedia {
  margin-bottom: .padding[small];
  padding-bottom: 50%;
}

.stage {
  list-style-type: none;
}

.stageContent {
  width: .padding[large] * 5;
}